@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');


:root{
    --cor-header:#5D60DC;
    --cor-texto-header: #ffff;
    --fonte-header: 'Overlock SC', cursive;;
    --fonte-texto-geral: Arial, Helvetica, sans-serif;
    --cor-footer: #000000;
    --cor-texto-footer: #ffff;
}
.header{
    background-color: var(--cor-header);
    color: var(--cor-texto-header);
    text-align: center;
    padding: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    font-family: var(--fonte-header);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    font-family: var(--fonte-texto-geral);
}
.grid-item{
    border: 1px solid #ddd;
    padding: 1rem;
}
.footer{
    background-color: var(--cor-footer);
    color: var(--cor-texto-footer);
    text-align: center;
    padding: 1rem;
    font-family: var(--fonte-texto-geral);

}